<!DOCTYPE html>
<html lang="en">
<link href='https://fonts.googleapis.com/css?family=Niramit' rel='stylesheet'>

<p style="text-align: center">CREATE REMINDER</p>
<form
        #form="ngForm"
        method="post"
        action="reminder"
        #userregister="ngForm"
        (ngSubmit)="onClickSubmit()"
>
    <div class="reminderTable">
    <div class="container">
    <div class="row row-cols-2">
        <div class="col">
            <label for="name">Reminder Name: </label>
            <input
                    type="text"
                    id="name"
                    name="name"
                    [(ngModel)]="reminder.name"
                    required
            />
        </div>
        <div class="col">
            <label>Frequency:</label>
            <select name="frequency" [(ngModel)]="reminder.frequency" required>
                <option *ngFor="let frequency of frequencies">
                    {{ frequency.name }}
                </option>
            </select>
        </div>
    </div>

    <div class="row row-cols-2">
        <div>
            <label for="description">Description: </label>
            <input
                    type="text"
                    id="description"
                    name="description"
                    [(ngModel)]="reminder.description"
                    required
            />
        </div>
        <div class="col">
            <label>Time To Remind:</label>
            <select name="hourToRemind" [(ngModel)]="rTime.hour" required>
                <option *ngFor="let hour of hours">
                    {{ hour }}
                </option>
            </select>
            <select name="minuteToRemind" [(ngModel)]="rTime.minute" required>
                <option *ngFor="let minute of minutes">
                    {{ minute }}
                </option>
            </select>
            <select name="meridiemToRemind" [(ngModel)]="rTime.meridiem" required>
                <option *ngFor="let meridiem of meridiems">
                    {{ meridiem }}
                </option>
            </select>
        </div>
    </div>
    </div>


    <div class="button">
        <button class="btn btn-outline-warning" type="submit" [disabled]="!form.valid || isLoading">
            Create Reminder
        </button>
    </div>
    </div>
</form>
