<link href='https://fonts.googleapis.com/css?family=Overpass Mono' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Bai Jamjuree' rel='stylesheet'>

<div class="container">
    <div *ngIf="currentUser" class="edit-form">
        <h2><u>User Profile</u></h2>
        <form [formGroup]="updateUserForm" (ngSubmit)="OnClickSubmit()">
            <div class="form-group">
                <label for="username" class="control-label">Username</label>
                <input
                        type="text"
                        class="form-control"
                        id="username"
                        formControlName="username"
                        placeholder="User Name"
                        name="username"
                />
            </div>
            <div class="form-group">
                <label for="email" class="control-label">Email</label>
                <input
                        class="form-control"
                        type="text"
                        placeholder="example@address.com"
                        id="email"
                        formControlName="email"
                        name="email"
                />
            </div>
            <div class="form-group">
                <label for="password">Change Password: </label>
                <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        placeholder="Password"
                        formControlName="password"
                />
            </div>
            <div class="form-group">
                <label for="verifyPassword" class="control-label"
                >Verify Password:
                </label>
                <input
                        type="password"
                        class="form-control"
                        id="verifyPassword"
                        name="verifyPassword"
                        placeholder="Verify Password"
                        formControlName="verifyPassword"
                />
            </div>
            <div class="form-group">
                <label for="mobile" class="control-label"
                >Mobile Number (Format: 555-555-5555)</label
                >
                <input
                        class="form-control"
                        appPhoneMask
                        formControlName="mobile"
                        type="text"
                        placeholder="555-555-5555"
                        id="mobile"
                        name="mobile"
                />
            </div>
            <div class="form-group">
                <label for="carrier" class="control-label">Carrier</label>
                <select class="form-control" name="carrier" formControlName="carrier">
                    <option *ngFor="let carrier of carriers">
                        {{ carrier.name }}
                    </option>
                </select>
            </div>
        </form>
        <button
                role="button"
                type="submit"
                class="btn btn-info"
                (click)="updateUser()"
        >
            Update
        </button>
        <p>{{ message }}</p>
    </div>
    <div role="alert" aria-relevant="all" *ngIf="!currentUser">
        <br/>
        <p>Cannot access profile. Please log in and retry...</p>
    </div>
</div>
