<!DOCTYPE html>
<html lang="en">
<link href='https://fonts.googleapis.com/css?family=Overpass Mono' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Bai Jamjuree' rel='stylesheet'>

<div class="hero-image">
    <div class="hero-text">
        <h1>RMMBR</h1>
        <p>(It's More Than A Timer It's A Reminder)</p>
        <button role="button" class="btn btn-warning btn-lg" routerLink="/register">
            Try it now
        </button>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Set a Time</h1>
            <h1>Set a Day</h1>
        </div>
        <div class="col-sm-6">
            <p>Screen shot of setting a reminder</p>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: rgba(0, 0, 0, 0.2)">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>Screen shot of setting a Category</p>
            </div>
            <div class="col-sm-6">
                <h1>Category</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Email</h1>
        </div>
        <div class="col-sm-6">
            <p>
                RMMBR will send an email or a text message to you when you need reminded
                of your upcoming event.
            </p>
        </div>
    </div>
</div>
</html>
