.topnav {
  overflow: hidden;
  background-color: rgb(255, 208, 202);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav button {
  float: right;
}

.topnav a:hover {
  background-color: rgb(255, 166, 158);
  color: rgb(423, 79, 112);
}

.topnav a.active {
  background-color: rgb(184, 242, 230);
  color: rgb(75, 93, 186);
}

.topnav .icon {
  display: none;
}
