.topnav {
  overflow: hidden;
  font-family: 'Overpass Mono';
  background-color: rgb(185, 193, 225);
  border-style: none none double none;
  border-color: rgb(140, 149, 184);
}

.topnav a {
  float: left;
  display: block;
  color: rgb(227, 238, 251);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav button {
  float: right;
}

.topnav .navbar-brand:hover {
  background-color: rgb(159, 155, 228);
  color: rgb(112, 95, 179);
  border-style: none none double none;
  border-color: rgb(112, 95, 179);
}

.topnav a:hover {
  background-color: rgb(255, 158, 187);
  color: rgb(218, 75, 149);
  border-style: none none double none;
  border-color: rgb(218, 75, 149);
}

.topnav a.active {
  background-color: rgb(184, 242, 230);
  color: rgb(75, 93, 186);
  border-style: none none double none;
  border-color: rgb(75, 93, 186);
}

.topnav .icon {
  display: none;
}

.topnav-right {
  float: right;
}
