html {

    background-color: rgb(185, 193, 225);

}

.button-container {


    border: none;
    text-align: center;
    right: 50%;
    left: 50%;

}

.button-text {

    display:inline-block;
    text-align: center;

}

.reminder-wrapper {

    text-align: center;
    display: inline-block;
    width: 150px;
    color: rgb(112, 95, 179);
    background-color: rgb(159, 155, 228);
    border: 3px;
    border-color: rgb(112, 95, 179);
    border-style: solid;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;

}

.reminder-container {

    width:100%;

}

.error-box {

    overflow: hidden;
    background-color: red;

}

.error-box p {

    margin-top: 5px;
    text-align: center;
    font-size: 17px;
    font-family: Verdana, Tahoma, sans-serif;
    text-decoration: underline;
    color: white;

}