.button-container {
    border: none;
    position: fixed;
    right: 50%;
    left: 50%;
}

.button-text {
    display:inline-block;
    text-align: justify;
}

.reminder-wrapper {
display: inline-block;
width: 150px;
border: 2px solid black;
padding: 15px;
margin: 15px;
}

.reminder-container {
width:100%;
}

.error-box {
    overflow: hidden;
    background-color: red;
}

.error-box p {
    margin-top: 5px;
    text-align: center;
    font-size: 17px;
    font-family:Verdana, Tahoma, sans-serif;
    text-decoration: underline;
    color: white;
}