html {
  background-color: rgb(185, 193, 225);
}

.button-container {
  border: none;
  text-align: center;
  right: 50%;
  left: 50%;
}

.button-text {
  display: inline-block;
  text-align: justify;
}

.reminder-wrapper {
  font-family: 'Bai Jamjuree';
  text-align: center;
  display: inline-block;
  width: 200px;
  color: rgb(112, 95, 179);
  background-color: rgb(176, 173, 233);
  border: 4px;
  border-color: rgb(112, 95, 179);
  border-style: outset;
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
}

.reminder-container {
  width: 100%;
}

.error-box {
  overflow: hidden;
  background-color: red;
}

.error-box p {
  margin-top: 5px;
  text-align: center;
  font-size: 17px;
  font-family: Verdana, Tahoma, sans-serif;
  text-decoration: underline;
  color: white;
}
