<!DOCTYPE html>
<html lang="en">
<link href='https://fonts.googleapis.com/css?family=Overpass Mono' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Bai Jamjuree' rel='stylesheet'>

  <div class="error-box" *ngIf="errorBox.eMessage">
    <p>{{ errorBox.eMessage }}</p>
  </div>
  <div class="container">
    <ng-container *ngFor="let r of reminders | slice: 0:1; let i = index">
      <div class="button-container" *ngIf="r.name != 'error'">
        <img
          src="../../assets/img/add-reminder.png"
          (click)="goToAddReminder('/reminder')"
          alt="Add Reminder"
        />
        <div class="button-text">
          <p>Add Reminder</p>
        </div>
      </div>
    </ng-container>

  </div>
  <div class="row" style="margin-top: 5%">
    <div class="container">
      <div
        *ngFor="let r of reminders; let i = index"
        [class.active]="i == currentIndex"
        (mouseover)="setActiveReminder(reminder, i)"
      >
        <div
          class="col-sm-4 reminder-wrapper"
          id="{{ r.id }}"
          *ngIf="r.name != 'error'"
        >
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading"><b>Name:</b> {{ r.name }}</h4>
              <p><b>Description:</b> {{ r.description }}</p>
              <p><b>Frequency:</b> {{ r.frequency }}</p>
              <p><b>Date Created:</b> {{ r.dateCreated }}</p>
              <p><b>Time To Remind:</b> {{ r.timeToRemind }}</p>
              <p><b>Category:</b> {{ r.reminderCategory }}</p>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                (click)="deleteReminder(r)"
              >
                Delete
              </button>
              <button
                type="button"
                class="btn btn-warning btn-sm"
                (click)="goToUpdate(r.id)"
              >
                Update
              </button>
              <button
                type="button"
                class="btn btn-info btn-sm"
                (click)="sendReminder(r.id, r.sendType)"
              >
                Send {{ r.sendType }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</html>
