<!DOCTYPE html>
<html lang="en">
<link href='https://fonts.googleapis.com/css?family=Niramit' rel='stylesheet'>

<p style="text-align: center">Registration</p>
<form
  #form="ngForm"
  method="post"
  action="register"
  #userregister="ngForm"
  (ngSubmit)="onClickSubmit()"
>

  <div class="registration" style="text-align: center">

  <div class ="row row-cols-2">
    <div class="col">
    <label for="userName">User Name: </label>
    <input class="form-control"
      type="text"
      id="userName"
      name="userName"
      [(ngModel)]="user.username"
      required
    />
    </div>
  <div class="col">
    <label for="email">Email: </label>
    <input class="form-control"
      type="email"
      id="email"
      name="email"
      [(ngModel)]="user.email"
      required
    />
    </div>
  </div>

    <div class ="row row-cols-2">
      <div class="col">
      <label for="password">Password: </label>
      <input class="form-control"
        type="password"
        id="password"
        name="password"
        [(ngModel)]="user.password"
        required
      />
    </div>
    <div class="col">
      <label for="verifyPassword">Verify Password: </label>
      <input class="form-control"
        type="password"
        id="verifyPassword"
        name="verifyPassword"
        [(ngModel)]="user.verifyPassword"
        required
      />
    </div>
  </div>

  <div class="button">
    <button class="btn btn-outline-info" type="submit" [disabled]="!form.valid || isLoading">
      Register
    </button>
  </div>
  </div>
</form>

</html>
