html {

    background-color: rgb(185, 193, 225);

}

h2 {

    font-family: 'Overpass Mono';

}

p {

    color: rgb(218, 75, 149);
    font-family: 'Niramit';
    font-size: 28px;
    border-radius: 10px;
    background-color: rgb(255, 158, 187);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 800px;
    margin-left: 800px;

}

.registration {

    color: rgb(75, 93, 186);
    font-size: 20px;
    border-radius: 15px;
    background-color: rgb(184, 242, 230);
    padding: 15px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 650px;
    margin-left: 650px;

}

.button {

    padding-top: 20px;

}

.error-box {
    overflow: hidden;
    background-color: red;
}

.error-box p {
    margin-top: 5px;
    text-align: center;
    font-size: 17px;
    font-family:Verdana, Tahoma, sans-serif;
    text-decoration: underline;
    color: white;
}