<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="en">
<link href='https://fonts.googleapis.com/css?family=Coustard' rel='stylesheet'>

<body>
<div class="top" style="text-align: center">
  <h1>Welcome to {{ title }}!!</h1>
</div>

<ul>

  <li><a class="btn btn-info" href="#" role="button" routerLink="/register" routerLinkActive="active">Register</a><a class="btn btn-warning" href="#" role="button" routerLink="/login" routerLinkActive="active">Login</a></li>
<!--  <li><a class="btn btn-warning" href="#" role="button" routerLink="/login" routerLinkActive="active">Login</a></li>-->
</ul>


<div class="bio" style="text-align: center">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
</body>
</html>

  <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
  <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
  <li><app-logout></app-logout></li>
  <li><a routerLink="/reminder" routerLinkActive="active">Create Reminder</a></li>

</ul>


<router-outlet></router-outlet>
